.CardDetailDiv {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-width: 500px;
  height: 100%;
  min-height: 700px;
  overflow-y: auto;
}

.UpperBox {
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

.ImgBox {
  width: 170px;
  height: 170px;
  margin-top: -15%;
  margin-right: 85%;
  border-radius: 100%; /* 원 형태를 만들기 위해 50%로 설정 */
  z-index: 101;
  overflow: hidden;
  text-align: center;
  background-color: white;
  background-size: cover;
  position: absolute;
}

img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
  display: block; /* 이미지를 블록 요소로 설정하여 가로 중앙 정렬을 적용 */
}

.InnerBox {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  align-self: flex-end;
  margin-left: auto;
  margin-top: -7%;
  margin-bottom: -20%;
}

.CompanySelect {
  margin-left: 50%;
  margin-bottom: 10px;
}

.CompanySelectDiv {
  font-size: 20px; /* 폰트 크기 설정 */
  font-weight: bold;
  padding: 10px;
  border-radius: 5px;
  border: none;
  appearance: none; /* 표준 속성 - 모든 브라우저에서 select의 기본 스타일 제거 */
  -webkit-appearance: none; /* 크롬, 사파리 등 웹킷 브라우저용 */
  -moz-appearance: none; /* 파이어폭스용 */
  outline: none; /* 포커스 상태에서의 외곽선 제거 */
  text-align: right; /* 대부분의 브라우저에서의 텍스트 중앙 정렬 */
  text-align-last: right;
}

/* 화살표 제거를 위해 추가적인 브라우저별 스타일이 필요한 경우 */
select::-ms-expand {
  display: none; /* IE 및 엣지용 */
}

.CardNameInput {
  margin-left: 10%;
  width: 70%;
}

.CardNameInput input,
.CardNameInput input:disabled {
  font-weight: bold;
  font-size: 25px;
  text-align: right;
  width: 100%;
  box-sizing: border-box; /* border와 padding을 요소의 전체 너비 및 높이에 포함시킴 */
  padding: 10px; /* input에 padding 추가 */
  border: none; /* 테두리 제거 */
  border-radius: 5px;
  outline: none; /* 입력 요소 활성화 시 나타나는 외곽선 제거 */
  background-color: #ffffff; /* 백그라운드 색상 지정 */
  opacity: 1; /* 완전히 불투명하게 설정 */
  color: black;
}

/* 추가적으로 필요한 스타일 */
.CardNameInput input:disabled {
  cursor: default; /* 마우스 포인터를 기본 아이콘으로 변경 */
}

.CardSummary {
  min-height: 400px;
  margin-top: 20%;
  margin-left: 10%;
  margin-right: 10%;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: white;
}

.CardSummary span {
  white-space: pre-line;
  line-height: 2;
}

.PdfInput {
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 20%;
  width: 90%;
}

.PdfInput textarea,
.PdfInput textarea:disabled {
  font-size: 17px;
  font-weight: bold;
  text-align: left;
  margin-right: 10px;
  width: 100%;
  box-sizing: border-box;
  border: none;
  border-radius: 5px;
  outline: none;
  background-color: white;
  opacity: 1;
  color: #000;
  resize: none; /* 사용자가 크기를 조절하지 못하게 함 */
  min-height: 5rem;
  overflow-y: hidden;
}

.Palette {
  width: 90%;
  background-color: white;
  overflow: hidden;
  min-height: 160px;
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 5px;
}

.PaletteSpan {
  font-size: 17px;
  font-weight: bold;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-right: 10px;
  text-align: right;
}

.ColorPalette {
  display: grid;
  align-items: center; /* 수직 방향의 정렬 */
  justify-items: center; /* 수평 방향의 정렬 */
  grid-template-columns: repeat(5, 1fr); /* 5열 설정 */
  grid-template-rows: repeat(2, 1fr); /* 2행 설정, 각 행의 높이를 100px로 지정 */
  grid-gap: 10px; /* grid 요소 사이의 간격 */
  margin-left: 10px; /* 원하는 여백 크기로 조정 가능 */
  margin-right: 10px;
}

.ColorPalette div {
  /* margin 제거 */
  width: 100%; /* 너비를 100%로 설정하여 그리드 셀의 크기를 꽉 채우게 함 */
  height: 100%; /* 높이를 100%로 설정하여 그리드 셀의 크기를 꽉 채우게 함 */
  margin: 10px; /* 모든 div 요소에 대해 상하좌우 마진 적용 */
  min-height: 20px;
  border-radius: 5px;
}

.Buttons {
  position: relative;
  display: flex;
  justify-content: space-between;
  padding: 0 30px; /* Adjust this value to increase or decrease the side spacing */
}

.PdfSummary {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  min-width: 110px;
  min-height: 50px;
  background-color: white;
  color: #5289ff;
  border: none;
  border-radius: 10px;
  margin-right: 10px; /* Adding some space between the buttons */
  cursor: pointer;
}

.PdfDetail {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  min-width: 110px;
  min-height: 50px;
  background-color: white;
  color: #5289ff;
  border: none;
  border-radius: 10px;
  margin-right: 10px; /* Adding some space between the buttons */
  cursor: pointer;
}

.LinkToCardEdit {
  font-size: 17px;
  font-weight: bold;
  width: 100%;
  height: 100%;
  min-width: 110px;
  min-height: 50px;
  background-color: white;
  color: #5289ff;
  border: none;
  border-radius: 10px;
  margin-left: 10px; /* Adding some space between the buttons */
  cursor: pointer;
}
