.ImgBox {
  width: 150px;
  height: 150px;
  border-radius: 70%;
  overflow: hidden;
  text-align: center; /* 텍스트 정렬을 중앙으로 설정 */
  background-color: white;
}

img {
  width: 90%;
  height: 90%;
  object-fit: cover;
  margin: 0 auto; /* 좌우 여백을 자동으로 설정하여 가운데 정렬 */
  display: block; /* 이미지를 블록 요소로 설정하여 가로 중앙 정렬을 적용 */
}

span {
  color: white;
}

.PdfDetail,
.LinkToCardEdit {
  background-color: white;
  color: #5289ff;
  border: none;
  border-radius: 5px;
}
