.authContainer {
  display: flex;
  flex-direction: column;
  height: 100vh;
  justify-content: center;
  align-items: center;
}

.authBtn {
  display: flex;
  align-items: center; /* 아이템들을 수평으로 중앙에 정렬 */
  justify-content: space-between;
  cursor: pointer;
  border-radius: 20px;
  border: none;
  padding: 5px 15px; /* 양쪽 패딩을 조금 늘려서 버튼이 넓어지도록 조절합니다. */
  font-size: 15px;
  text-align: center;
  width: auto;
  background: white;
}

.authBtn img {
  margin-left: 10px;
  margin-right: 10px; /* 이미지와 텍스트 사이의 간격 조절 */
  width: 15px; /* 이미지의 너비 */
  height: 16px; /* 이미지의 높이 */
}
