/* modal.css */
.modalDivHousing {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: visible;
  z-index: 100;
}

.modalHousing {
  background-color: white;
  top: 3%;
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  overflow: visible;
}

@media (max-width: 768px) {
  /* Styles for screens with a maximum width of 768px (e.g., mobile devices) */
  .modalHousing {
    /* Modify styles for modal content */
    background-color: white;
    top: 5%;
    width: 80%;
    height: auto;
    max-width: 700px; /* Adjust to take up the full width of the screen */
    min-height: 400px; /* Take up the full viewport height */
    border-radius: 20px;
    position: relative;
    z-index: 100;
    overflow: auto;
  }
}
