/* modal.css */
.modalDiv {
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 0;
  background-color: rgba(153, 153, 153, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  overflow: visible;
  z-index: 100;
}

.modal {
  top: 3%;
  width: 100%;
  max-width: 500px;
  min-height: 700px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  overflow: visible;
}

.modalHousing {
  background-color: white;
  top: 3%;
  width: 100%;
  max-width: 400px;
  min-height: 500px;
  border-radius: 20px;
  position: relative;
  z-index: 100;
  overflow: visible;
}

@media (max-width: 768px) {
  .modal {
    overflow: visible; /* 유지 */
    width: 100%;
    height: 100%;
    top: 10%;
  }
}
